<section class="flex" *ngIf="nameListed">
  <img
    class="fit"
    src="https://gifdb.com/images/high/cute-love-bear-roses-ou7zho5oosxnpo6k.gif"
    alt="Love Bear"
  />
  <h1 class="header">{{ this.partnerName }} will you be my Valentine?</h1>

  <button
    (click)="onYesClick()"
    [style.transform]="'scale(' + yesButtonScale + ')'"
    class="yes-button"
  >
    Yes
  </button>
  <button
    (click)="onNoClick()"
    [class.disabled]="noButtonDisabled"
    [ngStyle]="{ marginTop: noButtonMargin }"
    [disabled]="noButtonDisabled"
    class="no-button"
  >
    {{ noButtonText }}
  </button>
</section>
<section *ngIf="!nameListed">
  <h1>Invalid Entry</h1>
</section>
